#rockButton, #paperButton, #scissorsButton {
    border: 3px solid black;
    display: inline;
    margin-right: 30px;
    padding: 30px;
}
#scissorsButton{
    background-color: maroon;
}
#paperButton{


}
#rockButton{
    background-color: grey;
    border-radius: 50%;
}